/*************************/
/*    CUSTOM STYLINGS:   */
/*************************/
/*
The stylings below are customized additions to the default Bootstrap CSS file.
*/

/*************************/
/*     BOOTSTRAP FIX:    */
/*************************/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*************************/
/*       GENERAL:        */
/*************************/
.notes-link {
  color: #ffffff;

}
.notes-link:hover {
  color: #a9deff;
}

.row.margin-top.margin-bottom.hike-info {
	background-color: rgb(34, 34, 34);
	padding: 20px;
	margin-right: 30px;
	margin-left: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.hike-info-subtext {
  color: #e74c3c;
}

.navbar-inverse {
	background-color: #2c7eb6;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #185b88;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #2c7eb6;
}

a {
	color: rgba(211, 210, 217, 0.84);
}
a:hover, a:focus {
	color: #fff;
}

.btn-link {
	color:#dbfc4a;
}

.btn-link:hover {
	color:#fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #95d6ff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color:#95d6ff;
}

.accordion-toggle:hover {
  text-decoration:none;
	color:#dbfc4a;
}

.label-success {
	background-color: #85ab24;
	text-shadow: 0px 1px 1px black;
}

.label-warning {
	background-color: #f3894c;
	text-shadow: 0px 1px 1px black;
}

.label-default {
	text-shadow: 0px 1px 1px black;
}

.alert-success {
	background-color: #acdd2f;
	border-color: #85ab24;
	color: rgb(0, 112, 0);
}

.alert-danger {
	text-shadow: 0px 1px 1px black;
}

.alert-info {
	text-shadow: 0px 1px 1px black;
}

.input-group .form-control:focus {
	z-index: 3;
	border: 7px solid #85ab24;
  background-color: white;
  color: black;
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	color: rgb(120, 120, 120);
	background: rgb(34, 34, 34);
}

#selectedHike {
	background: rgb(38, 38, 38);
	color: white;
}

.list-group-item.preTrip {
	background-color: rgb(34, 34, 34);
}

.list-group-item.preTrip:hover {
	background-color: #85ab24;
  text-shadow: 0px 1px 1px #000;
}


/*************************/
/*       PADDING:        */
/*************************/

.padding-left {
    padding-left: 35px;
}

.padding-left-sm {
    padding-left: 15px;
}

.padding-right {
    padding-right: 35px;
}

.padding-right-sm {
    padding-right: 15px;
}

.padding-top {
    padding-top: 35px;
}

.padding-top-sm {
    padding-top: 15px;
}

.padding-bottom {
    padding-bottom: 35px;
}

.padding-bottom-sm {
    padding-bottom: 15px;
}

.padding-all {
    padding: 35px;
}

.padding-all-sm {
    padding: 15px;
}

/*************************/
/*       MARGIN:         */
/*************************/

.margin-label {
    margin-left: 45px;
}

.margin-left {
    margin-left: 35px;
}

.margin-left-sm {
    margin-left: 15px;
}

.margin-left-xsm {
    margin-left: 10px;
}

.margin-right {
    margin-right: 35px;
}

.margin-right-sm {
    margin-right: 15px;
}

.margin-right-xsm {
    margin-right: 10px;
}

.margin-top {
    margin-top: 35px;
}

.margin-top-sm {
    margin-top: 15px;
}

.margin-top-xsm {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 35px;
}

.margin-bottom-sm {
    margin-bottom: 15px;
}

.margin-bottom-xsm {
    margin-bottom: 10px;
}

.margin-all {
    margin: 35px;
}

.margin-all-sm {
    margin: 15px;
}

.margin-bottom-none {
    margin-bottom: 0px !important;
}

.margin-top-none {
    margin-top: 0px;
}

/***********************/
/*    TEXT EFFECTS:    */
/***********************/
.heading-shadow {
    text-shadow: 2px 2px 2px #0b0b0b;
}

/*  Setup Pre-Formatting for any text containing `/n` Characters. */
.fix-line-break {
    white-space: pre-wrap;
    word-break: break-word;
    display: inline;
}

.subdued {
  color: #c4c4c4;
}

.region-text {
  color: rgb(143, 143, 143);
}

/*************************/
/*    TOP NAVIGATION:    */
/*************************/
@media only screen and (max-width: 782px)  {
    .navbar-btn {
    	margin-left: 15px;
    }
}


/************************/
/*     MODAL WINDOW:    */
/************************/

.close-modal {
    font-size: 45px;
};

/*******************/
/*    DASHBOARD    */
/*******************/
/* Make welcome link bold and underlined. */
.alert_link {
	font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
}
.alert_link.ng-scope {
	font-weight: bold;
	color: #ffffff;
    text-decoration: underline;
}
a.alert_link.ng-scope:visited {
	color: #ffffff;
}
a.alert_link.ng-scope:hover {
	text-decoration: none;
}

/************************/
/*    PRE-TRIP HIKE:    */
/************************/

.no-list-margin {
  margin: 0px;
}

/*************************/
/*    POST-TRIP HIKE:    */
/*************************/

.p-0 {
  padding: 0px;
}

.hike-date-hdr {
  width: 100%;
  padding: 0;
  margin-bottom: 21px;
  font-size: 22.5px;
  line-height: inherit;
  color: #ffffff;
  border: 0;
  border-bottom: 1px solid transparent
}

/*************************/
/*    COMPLETED HIKE:    */
/*************************/

.completed a {
    color: grey;
}

.completed label {
    color: grey;
}

/************************/
/*   ALL HIKES STATS:   */
/************************/

.stats {
    font-size: 20px;
}
