/*************************/
/*    CUSTOM STYLINGS:   */
/*************************/
/*
The stylings below are customized additions to the default Bootstrap CSS file.
*/

/*************************/
/*     BOOTSTRAP FIX:    */
/*************************/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*************************/
/*       PADDING:        */
/*************************/

.padding-left {
    padding-left: 35px;
}

.padding-left-sm {
    padding-left: 15px;
}

.padding-right {
    padding-right: 35px;
}

.padding-right-sm {
    padding-right: 15px;
}

.padding-top {
    padding-top: 35px;
}

.padding-top-sm {
    padding-top: 15px;
}

.padding-bottom {
    padding-bottom: 35px;
}

.padding-bottom-sm {
    padding-bottom: 15px;
}

.padding-all {
    padding: 35px;
}

.padding-all-sm {
    padding: 15px;
}

/*************************/
/*       MARGIN:         */
/*************************/

.margin-label {
    margin-left: 45px;
}

.margin-left {
    margin-left: 35px;
}

.margin-left-sm {
    margin-left: 15px;
}

.margin-left-xsm {
    margin-left: 10px;
}

.margin-right {
    margin-right: 35px;
}

.margin-right-sm {
    margin-right: 15px;
}

.margin-right-xsm {
    margin-right: 10px;
}

.margin-top {
    margin-top: 35px;
}

.margin-top-sm {
    margin-top: 15px;
}

.margin-top-xsm {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 35px;
}

.margin-bottom-sm {
    margin-bottom: 15px;
}

.margin-bottom-xsm {
    margin-bottom: 10px;
}

.margin-all {
    margin: 35px;
}

.margin-all-sm {
    margin: 15px;
}

.margin-bottom-none {
    margin: 0px;
}

/***********************/
/*    TEXT EFFECTS:    */
/***********************/
.heading-shadow {
    text-shadow: 2px 2px 2px #0b0b0b;
}

/*************************/
/*    TOP NAVIGATION:    */
/*************************/
@media only screen and (max-width: 782px)  {
    .btn.btn-info.navbar-btn {
    	margin-left: 15px;
    }
}

/************************/
/*     MODAL WINDOW:    */
/************************/

.close-modal {
    font-size: 45px;
};


/*******************/
/*    DASHBOARD    */
/*******************/
/* Make welcome link bold and underlined. */
.alert_link {
	font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
}
.alert_link.ng-scope {
	font-weight: bold;
	color: #ffffff;
    text-decoration: underline;
}
a.alert_link.ng-scope:visited {
	color: #ffffff;
}
a.alert_link.ng-scope:hover {
	text-decoration: none;
}
/* Bump up labels slightly */
.dashboard-label {
    position: relative;
    bottom: 2px;
}


/*************************/
/*    COMPLETED HIKE:    */
/*************************/

.completed a {
    color: grey;
}

.completed label {
    color: grey;
}

/************************/
/*   ALL HIKES STATS:   */
/************************/

.stats {
    font-size: 20px;
}

/***********************************/
/*  LOGOUT AND DASHBOARD BUTTONS:  */
/***********************************/

.logout {
    margin-left: auto;
    display: block;
}

.dashboard {
    width: 255px;
}

/* Mobile formatting for top nav */
@media only screen and (max-width: 400px)  {
    .dashboard {
        margin-left: auto;
        margin-right: auto;
        width: 259px;
    }
}

/*****************************/
/*     HIKE REPORT PAGE:     */
/*****************************/

.custom-list li:nth-child(even) {
	background-color: whitesmoke;
}

/*********************************/
/*   PRE / POST / REPORT PAGE:   */
/*********************************/

.no-list-margin {
	margin-bottom: 0px;
}

.no-heading-margin {
	margin-top: 0px;
}

.gear-carried-list {
    font-size: 12px;
    list-style-type: none;
    margin: 5px 0px 5px -19px;
}
@media only screen and (max-width: 400px)  {
    .gear-list-buttons {
        margin-left: auto;
        margin-right: auto;
        width: 222px;
        position: relative;
        left: 2px;
    }
}
