<!-- Navbar -->
<nav class="navbar navbar-inverse" id="top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="" ng-click="home()"><span class="glyphicon glyphicon-tree-conifer"></span> Hiking Tool</a>
    </div>
    <div uib-collapse="navCollapsed" class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="" ng-click="home()"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a href="" ng-controller="ModalRegisterCtrl as $ctrl" ng-click="$ctrl.open()"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li class="active"><a href="" ng-click="about()"><span class="glyphicon glyphicon-tree-conifer"></span> About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button class="btn btn-info navbar-btn" ng-click="timHome()"><span class="glyphicon glyphicon-new-window"></span> By Tim Knab</button>
            </li>
        </ul>
    </div>
  </div>
</nav>
<div class="container">
    <!-- Jumbotron -->
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1><span class="glyphicon glyphicon-tree-conifer"></span> About Hiking Tool</h1>
                <p>The goal of Hiking Tool is to assist you in better preparing for your hikes, while also allowing you to improve your hiking skills by learning from each experience.</p>
            </div>
        </div>
    </div>
    <!-- 3 Columns -->
    <div class="row">
        <div class="col-sm-4">
            <h1><span class="glyphicon glyphicon-ok"></span> Prepare</h1>
            <hr>
            <p>Add a trip -- before leaving, fill out a "pre-trip" and provide information like the weather, potential hazards, a map location and more. See a round-trip time estimate based upon your distance and elevation gain.</p>
        </div>
        <div class="col-sm-4">
            <h1><span class="glyphicon glyphicon-education"></span> Learn</h1>
            <hr>
            <p>Upon returning from a trip, fill out a "post-trip" and provide information such as actual travel times, actual weather experienced, wildlife observed, hazards experienced and general notes for next time.</p>
        </div>
        <div class="col-sm-4">
            <h1><span class="glyphicon glyphicon-thumbs-up"></span> Improve</h1>
            <hr>
            <p>By asking certain questions, the pre-trip helps you prepare for your hike. By filling out a post-trip, you can look back on your hiking history and learn how to avoid past issues or better prepare.</p>
        </div>
    </div>
    <hr>
    <p class="text-center"><a class="btn btn-danger btn-lg" ng-click="scrollLogin()"><span class="glyphicon glyphicon-tree-conifer"></span> Login or Register</a></p>
    <hr>
    <p class="text-center"><a href="" ng-click="contact()"><span class="glyphicon glyphicon-alert"></span> Find a bug? Contact Me!</a></p>

</div>

<div ng-controller="ModalRegisterCtrl as $ctrl" class="modal-demo">
    <script type="text/ng-template" id="_register.html">
            <!-- Modal content-->
            <div class="row">
                <div class="col-sm-12" id="top-registration">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
                            <h3 class="modal-title"><span class="glyphicon glyphicon-user"></span> Register</h3>
                        </div>
                        <div class="modal-body">
                            <!-- Registration Errors -->
                            <div class="alert alert-danger margin-top-sm" ng-repeat="error in regErrors">
                                <p><strong>Error!</strong> {{error.message}}</p>
                            </div>
                            <!-- Registration Form -->
                            <form id="reg_form" ng-submit="register()" class="margin-left-sm margin-right-sm form-horizontal">
                                <!-- Username Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" name="username" id="username" ng-model="newUser.username" class="form-control input-lg" placeholder="Username">
                                    </div>
                                </div>
                                <!-- Email Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input type="text" name="email-address" id="email-address" ng-model="newUser.email" class="form-control input-lg" placeholder="Email">
                                    </div>
                                </div>
                                <!-- Email Confirm Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input type="text" name="email-confirm" id="email-confirm" ng-model="newUser.emailConfirm" class="form-control input-lg" placeholder="Confirm Email">
                                    </div>
                                </div>
                                <!-- Password Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" name="chosen-password" id="chosen-password" ng-model="newUser.password" class="form-control input-lg" placeholder="Password">
                                    </div>
                                </div>
                                <!-- Confirm Password Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" name="password-confirm" id="password-confirm" ng-model="newUser.passwordConfirm" class="form-control input-lg" placeholder="Confirm Password">
                                    </div>
                                    <!-- Registration Button -->
                                    <button type="submit" formmethod="POST" form="reg_form" class="btn-block btn-info btn-lg margin-top-sm" ng-click="$ctrl.register()"><span class="glyphicon glyphicon-user"></span> Register</button>                                </div>
                                    <button type="button" class="btn-block btn btn-link btn-lg margin-top-sm" ng-click="$ctrl.cancel()"><span class="glyphicon glyphicon-ban-circle"></span> Nevermind</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </script>
</div>
