<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="" ng-click="home()"><span class="glyphicon glyphicon-tree-conifer"></span> Hiking Tool</a>
    </div>
    <div uib-collapse="navCollapsed" class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="" ng-click="home()"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a href="" ng-controller="ModalDemoCtrl as $ctrl" ng-click="$ctrl.open('lg')"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li class="active"><a href="" ng-click="about()"><span class="glyphicon glyphicon-tree-conifer"></span> About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form action="http://github.com/natureminded" method="GET" class="margin-right-sm">
                    <button class="btn btn-info navbar-btn" formtarget="_blank"><span class="glyphicon glyphicon-new-window"></span> By Tim Knab</button>
                </form>
            </li>
        </ul>
    </div>
  </div>
</nav>
<div class="container">
    <!-- Jumbotron -->
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1><span class="glyphicon glyphicon-tree-conifer"></span> About Hiking Tool</h1>
                <p>The goal of Hiking Tool is to assist you in better preparing for your hikes, while also allowing you to improve your hiking skills by learning from each experience.</p>
            </div>
        </div>
    </div>
    <!-- 3 Columns -->
    <div class="row">
        <div class="col-sm-4">
            <h1><span class="glyphicon glyphicon-ok"></span> Prepare</h1>
            <hr>
            <p>Add a trip, and before leaving, fill out a "pre-trip" form, providing information like the weather, potential hazards, map location and more. See a round-trip time estimate, based upon your distance and elevation gain.</p>
        </div>
        <div class="col-sm-4">
            <h1><span class="glyphicon glyphicon-education"></span> Learn</h1>
            <hr>
            <p>Upon returning from a trip, fill out a "post-trip" form, providing information such as actual travel times, actual weather experienced, wildlife observed, hazards experienced and general notes for next time.</p>
        </div>
        <div class="col-sm-4">
            <h1><span class="glyphicon glyphicon-thumbs-up"></span> Improve</h1>
            <hr>
            <p>By asking certain questions, the pre-trip form helps you prepare for your hike. By filling out the post-trip forms, you can look back on your hiking history and learn how to avoid past issues or better prepare.</p>
        </div>
    </div>
    <!-- 1 Column -->
    <div class="row">
        <div class="col-sm-12">
            <h1><span class="glyphicon glyphicon-ok-sign"></span> Safer and Smarter</h1>
            <hr>
            <p>Knowing the weather, haivng the right gear, and knowing your travel times can make a big difference when trying to enjoy the outdoors. At times, preparing for a hike can feel hectic, and sometimes we might forget items accidentally, or forget to garner important information before departing into areas away from cell phone service.</p>
            <p>Hiking Tool aims to help your outdoor trip prepartion by having you fill out a form before and after your experience. Each asks questions that will aid in your preparation and awareness, and as reports may be viewed any time, you can learn and prepare better for next time. The aim of Hiking tool is to help you hike safer and smarter.</p>
        </div>
    </div>
    <!-- 1 Column -->
    <div class="row">
        <div class="col-sm-12">
            <h1><span class="glyphicon glyphicon-list-alt"></span> Technical Stuff:</h1>
            <hr>
            <p>Currently, Hiking Tool is:</p>
            <ul>
                <li>Only browser-based (no mobile-specific application), although the website is mobile friendly.</li>
                <li>Hiking tool may evolve into a sister mobile application.</li>
                <li>Hiking tool's features may evolve to become more robust or to provide greater use.</li>
                <li>This is an MVC, <em>MEAN</em> stack application, utilizing the following technologies:
                    <ul>
                        <li><a href="http://mongodb.com" target="_blank">MongoDB</a> database</li>
                        <li><a href="http://expressjs.com" target="_blank">ExpressJS</a> framework</li>
                        <li><a href="https://angularjs.org" target="_blank">Angular JS</a> framework</li>
                        <li><a href="https://nodejs.org/en/" target="_blank">NodeJS</a> server</li>
                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Angular UI Bootstrap</a> with <a href="https://bootswatch.com/darkly/">Darkly</a> Bootstrap theme</li>
                    </ul>
            </ul>
            <hr>
            <p class="text-center"><a class="btn btn-danger btn-lg" ng-click="home()"><span class="glyphicon glyphicon-tree-conifer"></span> Login or Register</a></p>
            <hr>
            <p><a href="mailto:t@sasquat.ch"><span class="glyphicon glyphicon-envelope"></span> Contact me</a> with questions or <a href="https://github.com/natureminded/mean_hike"> fork</a> my project from <a href="http://github.com/natureminded" target="_blank">GitHub</a>.</p>
        </div>
    </div>
</div>

<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
    <script type="text/ng-template" id="_register.html">
            <!-- Modal content-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
                            <h3 class="modal-title"><span class="glyphicon glyphicon-user"></span> Register</h3>
                        </div>
                        <div class="modal-body">
                            <!-- Registration Errors -->
                            <div class="alert alert-danger margin-top-sm" ng-repeat="error in regErrors">
                                <p><strong>Error!</strong> {{error.message}}</p>
                            </div>
                            <!-- Registration Form -->
                            <form id="reg_form" ng-submit="register()" class="margin-left-sm margin-right-sm form-horizontal">
                                <!-- Username Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" name="username" id="username" ng-model="newUser.username" class="form-control input-lg" placeholder="Username">
                                    </div>
                                </div>
                                <!-- Email Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input type="text" name="email-address" id="email-address" ng-model="newUser.email" class="form-control input-lg" placeholder="Email">
                                    </div>
                                </div>
                                <!-- Email Confirm Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input type="text" name="email-confirm" id="email-confirm" ng-model="newUser.emailConfirm" class="form-control input-lg" placeholder="Confirm Email">
                                    </div>
                                </div>
                                <!-- Password Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" name="chosen-password" id="chosen-password" ng-model="newUser.password" class="form-control input-lg" placeholder="Password">
                                    </div>
                                </div>
                                <!-- Confirm Password Field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" name="password-confirm" id="password-confirm" ng-model="newUser.passwordConfirm" class="form-control input-lg" placeholder="Confirm Pass">
                                    </div>
                                    <!-- Registration Button -->
                                    <button type="submit" formmethod="POST" form="reg_form" class="btn-block btn-info btn-lg margin-top-sm" ng-click="$ctrl.register()"><span class="glyphicon glyphicon-user"></span> Register</button>                                </div>
                                    <button type="button" class="btn-block btn btn-link btn-lg margin-top-sm" ng-click="$ctrl.cancel()"><span class="glyphicon glyphicon-ban-circle"></span> Nevermind</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </script>
</div>
