<!-- Navigation -->
<nav class="navbar navbar-inverse" ng-controller="navController">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="" ng-click="home()"><span class="glyphicon glyphicon-tree-conifer"></span> Hiking Tool</a>
    </div>
    <div uib-collapse="navCollapsed" class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class=""><a href="" ng-click="home()"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
            <li class="active"><a href="" ng-click="viewAllHikes()"><span class="glyphicon glyphicon-folder-close"></span> View Hike</a></li>
            <li class=""><a href="" ng-click="viewAllHikes()"><span class="glyphicon glyphicon-th-list"></span> All Hikes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button class="btn btn-danger navbar-btn" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
            </li>
        </ul>
    </div>
  </div>
</nav>


<!-- Begin Primary Container -->
<div class="container">
    <!-- Responsive Row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Page Title and Icon -->
            <h1 class="page-header"><span class="glyphicon glyphicon-tree-conifer"></span>Hiking Tool<br/><small><em>View Hike</em></small></h1>
        </div>
    </div>
    <!-- Responsive Row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Hike Overview Panel -->
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="heading-shadow">
                        <span class="glyphicon glyphicon-map-marker"></span> <span class="fix-line-break">{{hike.name}}</span>
                    </h2>
                </div>
                <div class="panel-body">
                    <!-- <h1>{{hike.name}}</h1> -->
                    <ul class="list-group">
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-calendar"></span> Date Added:</strong> {{hike.createdAt | date}}</li>
                        <li class="list-group-item fix-line-break"><strong><span class="glyphicon glyphicon-screenshot"></span> Region:</strong> {{hike.region}}</li>
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-resize-horizontal"></span> Distance:</strong> {{hike.distance}} miles</li>
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-resize-vertical"></span> Elevation Gain:</strong> {{hike.gain}} feet</li>
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-time"></span> Estimated Time:</strong> {{hike.timeEstimate}}</li>
                        <li class="list-group-item"><a ng-href="{{hike.location}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span> <strong>Location Map URL</strong></a></li>
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-pencil"></span> Notes:</strong></div>
                        <div class="panel-body">
                            <span ng-if="!hike.notes">
                                <em>There aren't any notes for this hike.</em>
                            </span>
                            <span ng-if="hike.notes">
                                <p class="fix-line-break">{{hike.notes}}</p>
                            </span>
                        </div>
                    </div>
                    <!-- All Hikes / Edit / Delete Buttons -->
                    <div class='wrapper text-center'>
                        <div class="btn-group">
                            <button class="btn btn-link" ng-controller="navController" ng-click="editHike(hike._id)"><span class="glyphicon glyphicon-edit"></span> Edit Hike</button>
                            <button class="btn btn-link" ng-controller="navController" ng-click="viewAllHikes()"><span class="glyphicon glyphicon-trash"></span> Delete Hike</button>
                            <button class="btn btn-link" ng-controller="navController" ng-click="viewAllHikes()"><span class="glyphicon glyphicon-th-list"></span> View All Hikes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Responsive Row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Full Pre-Trip Report Panel -->
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading"><h2 class="heading-shadow"><span class="glyphicon glyphicon-arrow-right"></span> Pre-Trip Report</h2></div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <span ng-if="hike.preTrip">
                        <ul class="list-group">
                            <li class="list-group-item"><strong><span class="glyphicon glyphicon-calendar"></span> Date Created:</strong> {{hike.preTrip.createdAt | date}}</li>
                            <li class="list-group-item"><strong><span class="glyphicon glyphicon-user"></span> Group Size:</strong> {{hike.preTrip.groupSize}}</li>
                            <li class="list-group-item"><strong><span class="glyphicon glyphicon-adjust"></span> Sunset Time:</strong> <span class="fix-line-break">{{hike.preTrip.sunset}}</span></li>
                        </ul>
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-cloud"></span> Weather Report:</strong></div>
                            <div class="panel-body">
                                <span class="fix-line-break">{{hike.preTrip.weather}}</span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-tasks"></span> Itinerary:</strong></div>
                            <div class="panel-body">
                                <span class="fix-line-break">{{hike.preTrip.itinerary}}</span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-warning-sign"></span> Potential Hazards:</strong></div>
                            <div class="panel-body">
                                <span class="fix-line-break">{{hike.preTrip.hazards}}</span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-pencil"></span> Notes:</strong></div>
                            <div class="panel-body">
                                <span ng-if="!hike.preTrip.notes">
                                    <em>There aren't any Pre-Trip notes for this hike.</em>
                                </span>
                                <span ng-if="hike.preTrip.notes"><p class="fix-line-break">{{hike.preTrip.notes}}</p></span>
                            </div>
                        </div>
                        <!-- All Hikes / Edit / Delete Buttons -->
                        <div class='wrapper text-center'>
                            <div class="btn-group">
                                <button class="btn btn-link" ng-controller="navController" ng-click="viewAllHikes()"><span class="glyphicon glyphicon-edit"></span> Edit Pre-Trip</button>
                                <button class="btn btn-link" ng-controller="navController" ng-click="viewAllHikes()"><span class="glyphicon glyphicon-trash"></span> Delete Pre-Trip</button>
                                <button class="btn btn-link" ng-controller="navController" ng-click="home()"><span class="glyphicon glyphicon-dashboard"></span> Back To Dashboard</button>
                            </div>
                        </div>
                    </span>
                    <span ng-if="!hike.preTrip">
                        <h4 class="text-center margin-all">
                            <em>You haven't completed a Pre-Trip!</em> 🏕
                            <p class="text-center margin-top"><a class="btn btn-info btn-lg" ng-click="startPreTrip(hike._id)"><span class="glyphicon glyphicon-arrow-right"></span> Start Pre-Trip</a></p>
                        </h4>
                        <!-- Back To Dashboard -->
                        <button class="form-control btn btn-link" ng-controller="navController" ng-click="home()"><span class="glyphicon glyphicon-dashboard"></span> Back To Dashboard</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Responsive Row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Post-Trip Report Panel -->
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading"><h2 class="heading-shadow"><span class="glyphicon glyphicon-arrow-left"></span> Post-Trip Report</h2></div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <span ng-if="hike.postTrip">
                        <ul class="list-group">
                            <li class="list-group-item"><strong><span class="glyphicon glyphicon-calendar"></span> Date Created:</strong> {{hike.postTrip.createdAt | date}}</li>
                            <li class="list-group-item"><strong><span class="glyphicon glyphicon-time"></span> Actual Hiking Time:</strong> <span class="fix-line-break">{{hike.postTrip.time}}</span></li>
                        </ul>
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-cloud"></span> Weather:</strong></div>
                            <div class="panel-body">
                                <span class="fix-line-break">{{hike.postTrip.weather}}</span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-warning-sign"></span> Experienced Hazards:</strong></div>
                            <div class="panel-body">
                                <span ng-if="!hike.postTrip.hazards">
                                    <em>There weren't any experienced hazards noted for this hike.</em>
                                </span>
                                <span ng-if="hike.postTrip.hazards">
                                    <span class="fix-line-break">{{hike.postTrip.hazards}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-leaf"></span> Flora & Fauna:</strong></div>
                            <div class="panel-body">
                                <span ng-if="!hike.postTrip.floraFauna">
                                    <em>There weren't any Flora or Fauna sightings noted for this hike.</em>
                                </span>
                                <span ng-if="hike.postTrip.floraFauna">
                                    <span class="fix-line-break">{{hike.postTrip.floraFauna}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><span class="glyphicon glyphicon-pencil"></span> Notes:</strong></div>
                            <div class="panel-body">
                                <span ng-if="!hike.postTrip.notes">
                                    <em>There aren't any Post-Trip notes for this hike.</em>
                                </span>
                                <span ng-if="hike.postTrip.notes">
                                    <p class="fix-line-break">{{hike.postTrip.notes}}</p></span>
                            </div>
                        </div>
                        <!-- All Hikes / Edit / Delete Buttons -->
                        <div class='wrapper text-center'>
                            <div class="btn-group">
                                <button class="btn btn-link" ng-controller="navController" ng-click="viewAllHikes()"><span class="glyphicon glyphicon-edit"></span> Edit Post-Trip</button>
                                <button class="btn btn-link" ng-controller="navController" ng-click="viewAllHikes()"><span class="glyphicon glyphicon-trash"></span> Delete Post-Trip</button>
                                <button class="btn btn-link" ng-controller="navController" ng-click="home()"><span class="glyphicon glyphicon-dashboard"></span> Back To Dashboard</button>
                            </div>
                        </div>
                    </span>
                    <span ng-if="!hike.preTrip && !hike.postTrip">
                        <h4 class="text-center margin-all">
                            <em>You must complete a Pre-Trip first!</em> ⛺️
                        </h4>
                    </span>
                    <span ng-if="hike.preTrip && !hike.postTrip">
                        <h4 class="text-center margin-all">
                            <em>You haven't completed a Post-Trip!</em> 🏕
                            <p class="text-center margin-top"><a class="btn btn-info btn-lg" ng-click="startPostTrip(hike._id)"><span class="glyphicon glyphicon-check"></span> Complete Post-Trip</a></p>
                        </h4>
                        <!-- Back to Dashboard Button -->
                        <button class="form-control btn btn-link" ng-controller="navController" ng-click="home()"><span class="glyphicon glyphicon-dashboard"></span> Back To Dashboard</button>
                    </span>
                </div>
            </div>
        </div>
    </div>


</div> <!-- End Primary Container -->
