<!-- Navigation -->
<nav class="navbar navbar-inverse" ng-controller="navController" id="top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="" ng-click="home()"><span class="glyphicon glyphicon-tree-conifer"></span> Hiking Tool</a>
        </div>
        <div uib-collapse="navCollapsed" class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class=""><a href="" ng-click="home()"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                <li class="active"><a href="" ng-click="postTrip()"><span class="glyphicon glyphicon-plus"></span> Post-Trip</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-danger navbar-btn" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Begin Primary Container -->
<div class="container">
    <!-- Responsive Row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Page Title and Icon -->
            <h1 class="page-header"><span class="glyphicon glyphicon-tree-conifer"></span>Hiking Tool<br/><small><em>Complete a Post-Trip</em></small></h1>
        </div>
    </div>
    <!---------------------->
    <!--     HIKE INFO    -->
    <!---------------------->
    <!-- Responsive Row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Hike Overview Panel -->
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading"><h2 class="heading-shadow"><span class="glyphicon glyphicon-map-marker"></span> <span class="fix-line-break">{{hike.name}}</span></h2></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-calendar"></span> Date Added:</strong> {{hike.createdAt | date}}</li>
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-screenshot"></span> Region:</strong> <span class="fix-line-break">{{hike.region}}</span></li>
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-resize-horizontal"></span> Distance:</strong> {{hike.distance}} miles</li>
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-resize-vertical"></span> Elevation Gain:</strong> {{hike.gain}} feet</li>
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-time"></span> Estimated Time:</strong> {{hike.timeEstimate}}</li>
                        <li class="list-group-item"><a ng-href="{{hike.location}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span> <strong>Location Map URL</strong></a></li>
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-pencil"></span> Notes:</strong></div>
                        <div class="panel-body">
                            <span ng-if="!hike.notes">
                                <em><p class="fix-line-break">There aren't any notes for this hike.</p></em>
                            </span>
                            <span ng-if="hike.notes"><p class="fix-line-break">{{hike.notes}}</p></span>
                        </div>
                    </div>
                    <!-- All Hikes / Edit / Delete Buttons -->
                    <div class='wrapper text-center'>
                        <div class="btn-group" ng-controller="navController">
                            <button class="btn btn-link" ng-click="editHike(hike._id)"><span class="glyphicon glyphicon-edit"></span> Edit Hike</button>
                            <button class="btn btn-link" ng-click="deleteHike(hike._id)"><span class="glyphicon glyphicon-trash"></span> Delete Hike</button>
                            <button class="btn btn-link" ng-click="viewAllHikes()"><span class="glyphicon glyphicon-th-list"></span> View All Hikes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------->
    <!--     PRE-TRIP INFO    -->
    <!-------------------------->
    <!-- Responsive Row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Full Pre-Trip Report Panel -->
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading"><h2 class="heading-shadow"><span class="glyphicon glyphicon-arrow-right"></span> Pre-Trip Report</h2></div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-calendar"></span> Date Created:</strong> {{hike.preTrip.createdAt | date}}</li>
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-user"></span> Group Size:</strong> {{hike.preTrip.groupSize}}</li>
                        <li class="list-group-item"><strong><span class="glyphicon glyphicon-adjust"></span> Sunset Time:</strong> <span class="fix-line-break">{{hike.preTrip.sunset}}</span></li>
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-cloud"></span> Weather Report:</strong></div>
                        <div class="panel-body">
                            <span class="fix-line-break">{{hike.preTrip.weather}}</span>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-tasks"></span> Itinerary:</strong></div>
                        <div class="panel-body">
                            <span class="fix-line-break">{{hike.preTrip.itinerary}}</span>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-warning-sign"></span> Potential Hazards:</strong></div>
                        <div class="panel-body">
                            <span class="fix-line-break">{{hike.preTrip.hazards}}</span>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-pencil"></span> Notes:</strong></div>
                        <div class="panel-body">
                            <span ng-if="!hike.preTrip.notes">
                                <em>There aren't any Pre-Trip notes for this hike.</em>
                            </span>
                            <span ng-if="hike.preTrip.notes"><p class="fix-line-break">{{hike.preTrip.notes}}</p></span>
                        </div>
                    </div>
                    <!-- All Hikes / Edit / Delete Buttons -->
                    <div class='wrapper text-center'>
                        <div class="btn-group" ng-controller="navController">
                            <button class="btn btn-link" ng-click="editPreTrip()"><span class="glyphicon glyphicon-edit"></span> Edit Pre-Trip</button>
                            <button class="btn btn-link" ng-click="deletePreTrip(hike._id, hike.preTrip._id)"><span class="glyphicon glyphicon-trash"></span> Delete Pre-Trip</button>
                            <button class="btn btn-link" ng-click="home()"><span class="glyphicon glyphicon-dashboard"></span> Back To Dashboard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------->
    <!--    POST-TRIP INFO    -->
    <!-------------------------->
    <!-- Responsive Row -->
    <div class="row">
        <div class="col-sm-12" id="top-posttrip">
            <!-- Post-Trip Report Panel -->
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading"><h2 class="heading-shadow"><span class="glyphicon glyphicon-check"></span> Post-Trip Report</h2></div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- PostTrip Alerts -->
                    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'info')" close="closeAlert($index)"><strong>{{alert.hdr}}</strong> {{alert.msg}}</div>
                    <!-- Post-Trip Hike Form -->
                    <form ng-submit="addPostTrip()" class="padding-left-sm padding-right-sm form-horizontal">
                        <!-- Actual Hiking Time -->
                        <div class="form-group">
                            <fieldset><legend>Actual Hiking Time:</legend>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <input type="text" name="time" id="time" class="form-control input-lg" ng-model="postTrip.time" placeholder="Act. Hiking Time (or Best Guess)">
                                </div>
                            </fieldset>
                        </div>
                        <!-- Actual Weather -->
                        <div class="form-group">
                            <fieldset><legend>Actual Weather:</legend>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-cloud"></i></span>
                                    <textarea class="form-control" rows="5" id="weather" ng-model="postTrip.weather" placeholder="Describe the actual weather experienced (morning, afternoon and night), or a general overview as best you can remember."></textarea>
                                </div>
                            </fieldset>
                        </div>
                        <!-- Hazards or Emergencies -->
                        <div class="form-group">
                            <fieldset><legend>Experienced Hazards:</legend>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-warning-sign"></i></span>
                                    <textarea class="form-control" ng-model="postTrip.hazards" rows="5" id="hazards" placeholder="Describe any hazards experienced."></textarea>
                                </div>
                            </fieldset>
                        </div>
                        <!-- Flora and Fauna -->
                        <div class="form-group">
                            <fieldset><legend>Flora and Fauna Sightings:</legend>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-leaf"></i></span>
                                    <textarea class="form-control" ng-model="postTrip.floraFauna" rows="5" id="wildlife" placeholder="Describe any interesting flora or fauna observed."></textarea>
                                </div>
                            </fieldset>
                        </div>
                        <!-- Additional Notes -->
                        <div class="form-group">
                            <fieldset><legend>Additional Notes:</legend>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                    <textarea class="form-control" ng-model="postTrip.notes" rows="5" id="notes" placeholder="Describe any additional details which may aid in future or repeated endeavors."></textarea>
                                </div>
                            </fieldset>
                            <!-- Complete Post-Trip and Cancel Buttons -->
                            <button type="submit" class="form-control btn btn-info margin-top"><span class="glyphicon glyphicon-check"></span> Complete Post Trip</button>
                            <button class="form-control btn btn-link" ng-controller="navController" ng-click="home()"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Primary Container -->
